.film-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}

.film-header {
  text-align: center;
  margin-bottom: 20px;
}

.film-list {
  display: grid; /* Gør listen til en grid container */
  grid-template-columns: repeat(3, 1fr); /* Opret tre lige store kolonner */
  gap: 20px; /* Tilføj mellemrum mellem elementerne */
  list-style: none;
  padding: 0;
}

.film-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.film-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.film-item:hover {
  background-color: #e9e9e9;
}

.film-link {
  text-decoration: none;
  color: #333;
  display: flex; /* Tilføj denne for at gøre linket til en flex container */
  align-items: center; /* Centrer indholdet lodret */
}

.film-edit {
  color: #007bff;
  cursor: pointer;
  margin-left: auto; /* Flyt redigeringslinket til højre side */
}

.film-edit:hover {
  text-decoration: underline;
}

.film-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}