.forestilling-container {
  margin: 20px;
}

.forestilling-header {
  font-size: 24px;
  color: #333;
}

.forestilling-list {
  list-style-type: none;
  padding: 0;
}

.forestilling-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.forestilling-link {
  color: #007bff;
  text-decoration: none;
}

.forestilling-link:hover {
  text-decoration: underline;
}

.forestilling-details {
  margin-top: 10px;
}

.forestilling-edit:hover {
  text-decoration: underline;
}

button {
  padding: 8px 16px; /* Mindre padding */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 4px; /* Mindre font-størrelse */
}

.forestilling-edit {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
