.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.infoBar span {
    margin: 0 30px;
    font-size: 1em;
    color: #fff;
}
.filmImage {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
}

.videre-til-bestiling-button button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #646cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.videre-til-bestiling-button:disabled {
    background-color: #646cff28;
    cursor: not-allowed;
}

.selectedSeat {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #646cff;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
}

.selectedSeat span {
    font-weight: bold;
}

.selected-info{
    text-align: center;
}

.info .count {
    font-size: 1.2em;
    font-weight: bold;
    color: #646cff;
}